
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
#basic-nav-dropdown{
  color: #20282D;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  font-family: "Orbitron", sans-serif;
}

#basic-nav-dropdown:hover{
   color: purple
}

 .navbtn button{
  outline: none;
   background: transparent;
   border: none;
   color: #fff;
}
.navbtn {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.8rem;
  background-color: #0F0E0E;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 15px;
  margin-left: 70px;
  color: white;
}
.btntext{
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-family: "Orbitron", sans-serif;
}


.navContainer{
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}
.logoHeader{
  margin-right: aut;
}

nav{
display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.navcon{
display: flex;
align-items: center;
gap: 50px;
}
.navlinks:hover{
  color: purple;
}

.logotext {
  position: relative;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 80px;
}

/* Glitch layers hidden by default */
.logotext::before,
.logotext::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  opacity: 0;
  pointer-events: none;
}

/* Hover triggers glitch */
.logotext:hover::before {
  color: #00fff9;
  opacity: 1;
  animation: glitchTop 0.5s infinite;
}

.logotext:hover::after {
  color: #ff0055;
  opacity: 1;
  animation: glitchBottom 0.5s infinite;
}

/* Glitch animations */
@keyframes glitchTop {
  0% {
    clip-path: inset(0 0 80% 0);
    transform: translate(-2px, -2px);
  }
  50% {
    clip-path: inset(10% 0 60% 0);
    transform: translate(2px, 2px);
  }
  100% {
    clip-path: inset(20% 0 40% 0);
    transform: translate(-1px, 1px);
  }
}

@keyframes glitchBottom {
  0% {
    clip-path: inset(80% 0 0 0);
    transform: translate(2px, 2px);
  }
  50% {
    clip-path: inset(60% 0 10% 0);
    transform: translate(-2px, -2px);
  }
  100% {
    clip-path: inset(40% 0 20% 0);
    transform: translate(1px, -1px);
  }
}
.homemotivation{
  display: flex;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  justify-self: center;
  gap: 20px;
  margin-top: 50px;
  color: #5D666F;
}
#gear {
  display: inline-block;
  font-size: 2rem; /* Adjust size as needed */
  animation: spin 2s linear infinite;
  margin-top: 40px;
  color: purple;;
}

/* Keyframes for rotation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homegear{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.txt{
  font-weight: 400;
}